html,body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #236467;
    font-family: sans-serif;
}

h2{
    text-decoration: underline;
}

.mainContent {
    border-style: solid;
    border-color: #000808;
    background-color: #66989a;
    color: #fcffff;
    width: 400px;
    text-align: center;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#search {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    width: 200px;;
    border: none;
}

#searchButton {
    font-size: 15px;
}
